/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --gray:#D7D7D7;
    --gray-2:#909090;
    --gray-3:#C4C4C4;
    --gray-4:#8B8B8B;
    --gray-5:#7C7C7C;
    --white:#FFFFFF;
    --black:#000;
    --black-lt:#1D1D1D;
    --black-lt-2:#1A1A1A;
    scroll-behavior: smooth;
    
}
/* Montserrat */
@font-face { /* Bold 700 */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url(fonts/Montserrat-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url(fonts/Montserrat-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Montserrat-Medium.ttf) format('truetype');
}
/* Raleway */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Raleway-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/Raleway-ExtraBold.ttf) format('truetype');
}
/* AdventPro */
@font-face {
    font-family: "AdventPro";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/AdventPro-Regular.ttf) format('truetype');
}

body {
    font-family: "Raleway", Tahoma;
    background-color: var(--gray);
}

.container {
    max-width: 300px;
    margin: 0 auto;
    width: calc(100% - 8em);
}


.btn-bar, .btn-bar-b {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 10px 21px;
    transition: 0.3s;
}
.btn-bar::before, 
.btn-bar::after,
.btn-bar-b::before, 
.btn-bar-b::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    height: 100%;
    width: 2px;
    transition: 0.3s;
    
}
.btn-bar {
    color: var(--white);
}
.btn-bar::before, 
.btn-bar::after {
    background-color: var(--white);
}
.btn-bar::after,
.btn-bar-b::after {
    right: 0;
    left: unset;
}
.btn-bar:hover {
    color: var(--black);
}
.btn-bar:hover::before,
.btn-bar:hover::after,
.btn-bar-b:hover::before,
.btn-bar-b:hover::after {
    width: 50%;
}
.btn-bar-b {
    color: var(--black);
}
.btn-bar-b:hover {
    color: var(--white);
}
.btn-bar-b::before,
.btn-bar-b::after {
    background-color: var(--black);
}

.header {
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 0.875rem;
    text-transform: uppercase;
    border: 8px solid var(--black);
    letter-spacing: 6px;
    line-height: 2.5rem;
    padding: 10px 60px;;
    text-align: center;
    width: fit-content;
    margin: 5em auto;
}

.burger-icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
.burger-icon span {
    width: 100%;
    background-color: var(--white);
    margin-bottom: 5px;
    height: 3px;
    border-radius: 2px;
    transition: 0.3s;
}
.burger-icon span:nth-child(2) {
    width: 50%;
}
.burger-icon:hover #_2nd {
    width: 100%;
}

header {
    padding: 1em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: var(--black);

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#lists {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 66px;
    left: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.649);
    padding: 0;
    transition: 0.3s;
    opacity: 0;
    display: none;
}


nav ul li {
    padding: 2em;
    display: block;
    cursor: pointer;
    width: 100%;
}
nav ul li a {
    text-decoration: none;
    color: var(--white);
}
/* Typography */
.hero p {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}
.hero h1 {
    font-size: 4.25rem;
    font-weight: bold;
}
.hero p:last-of-type {
    font-size: 1.0625rem;
    font-weight: 800;
    margin: 1em 0;
}
/* hero section */
.hero {
    background-image: url(assets/Mobile/imgs/maountain.png);
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - -2px);
    color: var(--white);
}
.hero-container {
    height: 100%;
    margin: 0 auto;
}
.hero-image {
    display: none;
}
.hero-text {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 0 3em
}
/* article */
article {
    background-color: var(--black-lt);
    position: relative;
    height: 530px;
}

.article-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.info { /*! break point*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -37%);
    width: 300px;
    text-align: center;
    color: white;
}
.info h2 {
    font-family: "Montserrat";
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 4px;

}
.info p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1.1rem;
    font-weight:500 ;
    margin: 1em 0;
}

/* about me  */

.about-me {
    text-align: center;
}
.about-me p {
    font-family: "Open Sans";
    font-weight:400;
    font-size: 0.9375rem;
    text-align: justify;
    margin-bottom: 3em;
}
.sprator {
    margin: 4em auto;
}
.sprator img {
    width: 160px;
    height: 12px;
}
.about-me-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.child h1 {
    font-weight:700;
    font-family: "Montserrat";
    font-size: 1.375rem;
    letter-spacing: 3px;
    position: relative;
}
.child h1::before {
    position: absolute;
    top: -25px;
    left: -50px;
}
.child:nth-child(1) h1::before {
    content: url(assets/Disktop/icons/design.png);
}
.child:nth-child(2) h1::before {
    content: url(assets/Disktop/icons/tools.png);
}
.child:nth-child(3) h1::before {
    content: url(assets/Disktop/icons/laptop&gear.png);
}
.child p {
    font-family: "Open Sans";
    font-weight:300 ;
    font-size: 1rem;
    margin-block: 2em 3.5em;
}

/* skills section */

.skills-container {
    display: flex;
    flex-direction: column;
}
.category {
    margin-bottom: 4em;
}
.category h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}
.skill {
    margin-block: 2em;
}
.skill img {
    margin-bottom: 2em;
}
.skill p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
}

/* portofolio */


.bg {
    background-image: url(assets/Disktop/imgs/maountain.png);
    background-size: cover;
    height: 321px;
    display: flex;
    align-items: center;
}

.gallary {
    background-color: var(--black-lt-2);
    color: var(--white);
    padding-top: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallary ul {
    display: flex;
    margin: 0 auto 1em;
}
.gallary ul li {
    list-style: none;
    font-family: "Montserrat";
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--gray-5);
    cursor: pointer;
    padding: 2em 1em ;
    transition: 0.3s;
    border-bottom: 1px solid var(--gray-5);
}
.gallary ul li:hover, .gallary .active {
    color: var(--white);
    border-bottom-color: var(--white);
}

.projects {
    display: flex;
    flex-direction: column;
}
.gallary .project {
    width: 382px;
    height: 209px;
    background-size: cover;
    position: relative;
}

.gallary > p {
    font-family: "Montserrat";
    font-weight:600;
    font-size: 1.25rem;
    text-align: center;
    padding-block: 25px;
}

.gallary .project::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.6s;
}
.gallary .project:hover::before {
    content: "";
    background-color: hsla(0, 0%, 0%, 0.5);
}
.gallary .project:hover .project-info {
    opacity: 1;
}
.gallary .project:nth-child(1) {
    background-image: url(/assets/Disktop/imgs/img-1.png);
}
.gallary .project:nth-child(2) {
    background-image: url(/assets/Disktop/imgs/img-2.png);
}
.gallary .project:nth-child(3) {
    background-image: url(/assets/Disktop/imgs/car.png);
}
.gallary .project:nth-child(4) {
    background-image: url(/assets/Disktop/imgs/img-2.png);
}
.gallary .project:nth-child(5) {
    background-image: url(/assets/Disktop/imgs/car-revers.png);
}
.gallary .project:nth-child(6) {
    background-image: url(/assets/Disktop/imgs/img-1.png);
}

.project-info p {
    text-align: center;
}
.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.8s;
    z-index: 3;
}
.project-info p:nth-of-type(1) {
    font: italic 600 0.925rem "Montserrat";
}
.project-info p:nth-of-type(2) {
    font: 500 1.1rem "Montserrat";
    line-height: 1.2rem;
    padding-bottom: 26px; 
}
.project-info h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.25rem;
}
.project-info div {
    width: 245px;
    display: flex;
    justify-content: space-between;
}
.project-info div .btn-bar {
    padding-inline: 33px;
}

/* contact  */

.contact {
    display: flex;
    flex-direction: column;
}
.contact p {
    font-family: "Open Sans";
    font-size: 0.9375rem;
    font-weight: 300;
    text-align: center;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form span input {
    font: inherit;
    text-transform: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 21px;
    color: inherit;
}
span.btn-bar {
    padding: unset;
}
.input {
    outline: none;
    border: none;
    border-left: 5px solid var(--black);
    border-bottom: 5px solid var(--black);
    width: 100%;
    padding: 15px 15px 3px 19px;
    font-size: 1.5rem;
    margin-bottom: 53px;
}
.input::placeholder {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}
textarea {
    height:184px;
}
footer {
    background-color: var(--black-lt-2);
    color: var(--white);
    padding-block: 100px 70px;
    margin-top: 3em;
}
footer div {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin: 0 auto;
}
footer p {
    font-weight: 500;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 43px;
    text-align: center;
}
@media (min-width:675px) {
    .container, .nav-container {
        /* width: 80%; */
        max-width: 1350px;
        margin: 0 auto;
    }
    .sprator img {
        width: 340px;
        height: 24px;
    }
    
    .burger-icon {
        display: none;
    }
    
    header {
        padding: 2em 5em;
        transition: 0.7s;
    }
    header.sticky {
        padding: 10px 65px 10px 10px;
        background-color: rgba(0, 255, 255, 0.456);
    
    }
    .sticky nav {
        max-width: 1600px;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul li {
        padding: 1em 1.5em;
        display: block;
        width: fit-content;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
    }
    header ul li:last-child a {
        color: var(--black);
    }
    header ul li:last-child {
        color: var(--black);
        background-color: var(--white);
        border-radius: 30px;
        padding: 12px 24px;
    }
    #lists {
        display: flex;
        position: unset;
        width: fit-content;
        flex-direction: row;
        opacity: 1;
        justify-content: space-between;
        background-color: transparent;

    }
    .hero {
        background-image: none;
        margin-top: 9em;
        height: 100%;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero-image {
        display: block;
        object-fit: contain;
    }
    .hero-text {
        max-width: unset;
        flex-direction: column;
        height:auto;
        margin: 0 ;
        color: #000;
    }
    .hero .hero-text {
        width: fit-content;
    }
    .hero .hero-text p {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 2.5rem;
    }
    .hero .hero-text h1 {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 5rem;
        margin-top: 54px;
        margin-left: 15px;
    }
    .hero .hero-text p:last-of-type {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 1.5625rem;
        color:var(--gray-2);
    }
    .hero .hero-text .links {
        width: 245px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 126px;
        padding: unset;
    }
    .hero .hero-text .links .icon {
        padding: 10px 13px;
        background-color: var(--gray-3);
        box-shadow: 0px 4px 8px -5px black;
        transition: 0.3s;
    }
    .hero .hero-text .links .icon:hover {
        box-shadow: 0px 4px 8px -2px black;
    }
    article {
        height: auto;
    }
    .article-container {
        display: block;
        margin: unset;
    }
    .article-container img {
        display: none;
    }
    .info {
        position: unset;
        top:unset;
        left: unset;
        transform: unset;
        width: 100%;
        text-align: left;
        background: var(--black-lt);
        padding-block: 54px;
        padding-inline-start: 102px;
    }
    .info h2 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 1.875rem;
        letter-spacing: 4px;
    }
    .info p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: unset;
    }
    .header {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 1.875rem;
        text-transform: uppercase;
        border: 8px solid var(--black);
        letter-spacing: 12px;
        line-height: 2.5rem;
        padding: 26px 61px;
        text-align: center;
        width: fit-content;
        margin: 3em auto;
    }

    .about-me > p {
        font-family: "Open Sans";
        font-weight:400;
        font-size: 0.9375rem;
        text-align: center;
    }
    .about-me-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 160px;
    }
    .about-me-container .child {
        text-align: left;
        max-width: 480px;
    }
    
    .skills {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        gap: 65px 150px; 
        padding-top: 75px;  
    }
    .category h1 {
        text-align: left;
    }
 
    .gallary {
        background-color: var(--black-lt-2);
        color: var(--white);
        padding-top: 32px;
        position: relative;
    }
    .gallary ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 32px;
        width: fit-content;
    }
    .gallary ul li {
        list-style: none;
        padding: 15px 66px;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 1.15rem;
        color: var(--gray-5);
        border-bottom: 1px solid var(--gray-5);
        cursor: pointer;
        transition: 0.3s;
    }
    .gallary ul li:hover, .gallary .active {
        color: var(--white);
        border-bottom-color: var(--white);
    }
    
    .gallary .project {
        width: 640px;
        height: 401px;
    }
    .gallary .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    
    footer {
        padding-block-start: 160px;
    }
}
